<% layout('layouts/boilerplate') %>
<h1>All Games</h1>
<div>
  <a href="/games/new">Add a Game</a>
</div>
<ul>
  <% for (let game of games) { %>
  <li><a href="/games/<%= game._id %>"><%= game.title %></a></li>
  <% } %>
</ul>
